.div {
  background-color: #f0f0f0;

  height: 100%;
  margin: auto;
  text-align: center;
  padding: 10px;
}

.techStack {
    padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.tech {
  border: 1px solid white;
  border-radius: 40px;
  width: 200px;
  height: 120px;
}
/* @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) 
  and (-webkit-min-device-pixel-ratio: 2) {
 
      .tech{
         width: 150px;
         height: 100px; 
      }

      .techStack{
        display: flex;
        flex-wrap: wrap;
      }

} */