.main{
    display: flex;
    justify-content: center;
    margin-top: 130px;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.inputBox{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

input{
    padding: 20px;
    width: 280px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: large;
    background-color: rgb(206, 205, 205);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
input::placeholder{
    font-weight: bold;
    font-size: medium;
}

button{
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    background-color: #de0408;
    color: white;
    padding: 20px;
    width: 130px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}